.sketch-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.play-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: var(--text-color);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 32px;
  min-width: 80px;
  padding: 12px;
  font-weight: 600;
  transition: all 0.3s;
}
