.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  touch-action: none;
  user-select: none;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
}

/* Global styles para canvas y video */
:global(canvas) {
  display: block;
  outline: none;
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

:global(video) {
  pointer-events: none !important;
}
